nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f8f9fa;
}

.navbar-logo, .navbar-logout {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    height: 50px;
}

.navbar-logout button {
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.navbar-logout button:hover {
    background-color: #c82333;
}   